@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: azure;
}
button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  background-color: rgb(93, 147, 201);
  color: #fff;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-form {
  width: 100%;
  display: flex;
  background-color: rgb(75, 99, 233);
  padding: 14px;
  justify-content: center;
}
.search-form > input {
  width: 30%;
  font-size: 20px;
}
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: baseline;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.photo-card {
  border: 1px solid grey;
  border-radius: 3px;
  width: calc(25% - 15px);
}
img {
  display: block;
  width: 100%;
  height: 240px;
}
.photo-card:not(:last-child) {
  margin-bottom: 30px;
}
.info {
  font-size: 15px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.load-more {
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
